body{
    background-color: #f4d04e;
    font-family: 'figtree';
}
.card{
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 480px;
    padding: 24px;
    border-radius: 20px;
    border-color: #11111111;
    border-width: 1px;
    border-style: solid;
    box-shadow: 10px 10px black;
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow effect */
}
.card img{
    width: 100%;
    margin-left:auto;
    margin-right:auto ;
    margin-bottom: 24px;
}
.category {
    background-color: #f4d04e;
    width:auto;
    padding: 4px 12px;
    display: inline;
    font-size: 14px;
    font-weight: bold;
}
.Date {
    font-size: 14px;
    color: #111111;
}
.title{
    font-size: 24px;
    color:#111111;
    font-weight: bolder;
    transition:color 0.3s ease;
}
.description{
    color: #6b6b6b;
    font-size: 16px;
    font-weight:500;
    margin-bottom:32px;
}
.author{
    display: flex;
}
.author p{
    display: inline-block;
    font-size:14px;
    font-weight: bold;
    color:#111111;
    margin-left: 12px;
    margin-top: 7px;
}
.author img{
    width:32px;
    height:32px;
}
.card:hover{
    box-shadow: 20px 20px black;
}
.card:hover .title{
    color: #f4d04e;
}
